.country-card {
  width: 300px;
  height: 90px;
  height: auto;
  margin-bottom: 24px;
  padding: 16px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  text-align: left;
}

.country-card-title {
  font-size: 22px;
  margin: 0;
}

.country-card-info {
  font-size: 14px;
}

.country-card-info span {
  font-weight: bold;
}
